/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  display: flex;
  flex-direction: column;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  min-height: 85vh; }
  main .logo-home {
    display: flex;
    justify-content: center; }
    main .logo-home img {
      width: 50%; }
  main .promo-home {
    margin: 1rem; }
    main .promo-home img {
      border-radius: 2%;
      width: 99%; }

footer {
  background-color: lightslategray;
  padding: 20px 0;
  bottom: 0;
  width: 100%; }
  footer .contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; }
  footer .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .logo-footer img {
      max-width: 100px;
      width: 80%; }
  footer .texto-footer {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .texto-footer p {
      display: inline-block;
      margin: 0; }
  footer .iconos-footer img {
    max-width: 30px;
    width: 10%;
    margin-right: 10px; }

@media screen and (min-width: 1024px) {
  main .div-home {
    display: flex; }
  main .promo-home img {
    width: 100%; }
  footer .contenedor-footer {
    display: flex;
    justify-content: space-between;
    gap: 3rem; }
  footer .iconos-footer {
    display: flex;
    justify-content: end; }
  footer .texto-footer {
    display: flex;
    justify-content: center; } }

main .contenedor-nosotros {
  color: whitesmoke;
  border-radius: 2%;
  margin: 1rem;
  display: flex;
  padding: 1rem;
  backdrop-filter: blur(5px);
  border-style: solid; }
  main .contenedor-nosotros h2 {
    text-decoration: underline; }

main .contenedor-nosotros-1 {
  display: none; }

main .logo-nosotros {
  display: flex;
  justify-content: center;
  margin: 0.2rem; }
  main .logo-nosotros img {
    width: 100%; }

main .div-nosotros {
  gap: 3rem;
  display: flex;
  flex-direction: column; }
  main .div-nosotros .fotos-nosotros {
    display: flex;
    margin: 1rem;
    padding: 1rem; }

@media screen and (min-width: 1024px) {
  main .div-nosotros .fotos-nosotros {
    display: none; }
  main .contenedor-nosotros-1 {
    margin: 1rem;
    display: flex; }
    main .contenedor-nosotros-1 img {
      border-radius: 2%;
      width: 99%; } }

main .div-contacto {
  display: flex;
  flex-direction: column-reverse; }

main .logo-contacto {
  display: flex;
  justify-content: center; }
  main .logo-contacto img {
    width: 30%; }

main .form-contacto {
  color: whitesmoke;
  border-radius: 2%;
  margin: 1rem;
  padding: 1rem;
  backdrop-filter: blur(5px);
  border-style: solid; }

main .formulario-contacto {
  display: flex;
  justify-content: center; }
  main .formulario-contacto .botones-contacto {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem; }
  main .formulario-contacto .area-contacto {
    display: flex;
    justify-content: center; }

@media screen and (min-width: 1024px) {
  main .div-contacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  main .form-contacto {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    width: 40%;
    border-radius: 2%;
    margin: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    border-style: solid; }
    main .form-contacto legend {
      color: red; }
    main .form-contacto .texto-contacto {
      color: red; } }

main .div-ubicacion {
  display: flex;
  flex-direction: column-reverse; }

main .mapa-ubicacion {
  display: flex;
  justify-content: center;
  margin: 1rem; }

main .logo-ubicacion {
  display: flex;
  justify-content: center; }
  main .logo-ubicacion img {
    width: 50%; }

@media screen and (min-width: 1024px) {
  main .div-ubicacion {
    display: flex;
    flex-direction: column; } }

main .div-shop {
  display: flex;
  flex-direction: column; }

main .logo-shop {
  display: flex;
  justify-content: center; }
  main .logo-shop img {
    width: 60%; }

main .contenedor-shop {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem; }

@media screen and (min-width: 1024px) {
  main .contenedor-shop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem; }
  main .logo-shop img {
    width: 40%; } }
