/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*home*/
main{
    display: flex;
    flex-direction: column;
}

main .logo-home img{
    width: 80%;
}

main .logo-home{
    display: flex;
    justify-content: center;
}

main .contenedor-home{
    background-color: whitesmoke;
    border-radius: 2%;
    margin: 1rem;
}

main{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    
}


footer .contenedor-footer{
    display: flex;
    
    background-color: lightslategray;
}

footer .logo-footer img{
    width: 80%;
}

footer .texto-footer{
    margin: 0.5rem;
    display: flex;
    
}

footer .texto-footer p{
    display: flex;
    align-self: center;
}

footer .iconos-footer img{
    width: 10%;
    display: flex; 
}

@media screen and (min-width:1024px) {
    main .div-home{
        display: flex;
    }

    footer .contenedor-footer{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    footer .iconos-footer{
        display: flex;
        justify-content: end;
    }

    footer .texto-footer{
        display: flex;
        justify-content: center;
    }
    
}

/*nosotros*/

main .contenedor-nosotros{
    color: whitesmoke;
    border-radius: 2%;
    margin: 1rem;
    display: flex;
    padding: 1rem;
    backdrop-filter: blur(5px);
    border-style: solid;
    
}

main .contenedor-nosotros-1{
    color: whitesmoke;
    border-radius: 2%;
    margin: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    border-style: solid;
    
}

main .contenedor-nosotros h2{
    text-decoration: underline;
}

main .contenedor-nosotros-1 h2{
    text-decoration: underline;
    display: flex;
    justify-content: right;
    
}

main .logo-nosotros img{
    width: 100%;
}

main .logo-nosotros{
    display: flex;
    justify-content: center;
    margin: 0.2rem;
}

main .div-nosotros{
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

/*contacto*/

main .div-contacto{
    display: flex;
    flex-direction: column-reverse;
}

main .logo-contacto img{
    width: 30%;
}

main .logo-contacto{
    display: flex;
    justify-content: center;
}

main .form-contacto{
    color: whitesmoke;
    border-radius: 2%;
    margin: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    border-style: solid;
    
}

main .formulario-contacto{
    display: flex;
    justify-content: center;
}

main .formulario-contacto .botones-contacto{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    
}

main .formulario-contacto .area-contacto{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:1024px){

main .div-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    
      } 
main .form-contacto{
    display: flex;
    justify-content: center;
     color: whitesmoke;
     width: 40%;
     border-radius: 2%;
     margin: 1rem;
     padding: 1rem;
     backdrop-filter: blur(5px);
     border-style: solid;
        
    }   
main .form-contacto legend{
    color: red;
} 

main .form-contacto .texto-contacto{
    color: red;
}   
}

/*Ubicacion*/

main .div-ubicacion{
    display: flex;
    flex-direction: column-reverse;
}

main .mapa-ubicacion{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

main .logo-ubicacion img{
    width: 50%;
}

main .logo-ubicacion{
    display: flex;
    justify-content: center;
}

@media screen and (min-width:1024px) {

    main .div-ubicacion{
        display: flex;
        flex-direction: column;
    }    
}

/*shop*/

main .div-shop{
    display: flex;
    flex-direction: column;

}

main .logo-shop img{
    width: 60%;
}

main .logo-shop{
    display: flex;
    justify-content: center;
}

main .contenedor-shop{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;

}



@media screen and (min-width:1024px) {
    main .contenedor-shop{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 3rem;
    } 
    
    main .logo-shop img{
        width: 40%;
    }
}