/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../scss/html/home";

@import "../scss/html/nosotros";

@import "../scss/html/contacto";

@import "../scss/html/ubicacion";

@import "../scss/html/shop";