@import"../utilidades/variables";

main{
    display: flex;
    flex-direction: column;
    background-image: url("../img/fondo.jpg");
    background-size: cover; 
    min-height: 85vh;
    .logo-home{
        display: flex;
        justify-content: center;
        img{
        width: 50%;
    }
    } 
    
    .promo-home{
        margin: 1rem;
        img{
            border-radius: 2%;
            width: 99%;  
        }
    }
}

footer {
    background-color: lightslategray;
    padding: 20px 0; 
    bottom: 0;
    width: 100%;

    .contenedor-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .logo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100px;
            width: 80%;
        }
    }
    .texto-footer {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            display: inline-block;
            margin: 0; 
        }
    }

    .iconos-footer {
        img {
            max-width: 30px;
            width: 10%;
            margin-right: 10px;
        }
    }
}

@media screen and (min-width:1024px){
    main{
        .div-home{
            display: flex;
        } 
        .promo-home{
            img{
                width: 100%;
            }
        }
    }
    footer{
        
        .contenedor-footer{
            display: flex;
            justify-content: space-between;
            gap: 3rem;
        }
        .iconos-footer{
            display: flex;
            justify-content: end;
        }
        .texto-footer{
            display: flex;
            justify-content: center;
        }
    }

}

